<div class="">

    <h1 id="title">Welcome to MEAN Tea!</h1>

    <!-- NavBar -->
    <div class="ui secondary  menu">
        <a class="active item">
                  Home
                  </a>
        <a class="item">
                  About
                  </a>
        <a class="item">
                  Contact
                  </a>
    </div>
    <!-- Ending NavBar -->

    <!-- SearchBar and Dropdown and Checkout Button-->
    <div class="ui fluid category search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search by name...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>

        <select class="ui dropdown">
          <option value="">Search by Category</option>
          <option value="1">------</option>
          <option value="0">=====</option>
        </select>

        <button class="right attached ui button" id="checkout">Checkout | Bag:</button>

    </div>
    <!-- Ending SearchBar and Dropdown and Checkout Button-->

    <!-- Tea Table -->
    <table class="ui celled padded table">
        <thead>
            <tr>
                <th class="single line">Tea</th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tea in view.products">
                <td>
                    <img ng-src="{{tea.imageUrl}}" alt="tea picture" />
                </td>
                <td>
                    <h2>{{tea.name}}</h2>

                    <div id="quantity">
                        <h2>Quantity:</h2>
                        <select class="ui dropdown">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                        <button class="ui yellow button">Add to Cart</button>
                    </div>

                    <p><strong>Price</strong>: {{ tea.price/100 | currency}}</p>
                    <p><strong>Caffeine Scale</strong>: {{tea.caffeineScale}}</p>
                    <p><strong>Ingredients</strong>: {{tea.ingredients}}</p>
                    <p><strong>Rating</strong>: {{tea.rating}}</p>
                    <p><strong>In Stock?</strong> {{true == tea.inStock ? 'Yes' : 'No' }}</p>
                    <p><strong>Categories</strong>:
                        <li ng-repeat="category in tea.categories">{{category}}</li>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Ending Tea Table -->

    <!-- Ending div tag -->
</div>
